* {
    margin: 0;
}

.layer {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.3);
}

.layerbutton {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    font-size: 3vw;
    z-index: 11;
}

#prior, #later {
    width: fit-content;
    float: right;
}

#prior:hover, #later:hover {
    cursor: pointer !important;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center2 {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.frame {
    width: 94%;
    height: calc(60vw / 4 * 3 - 1.5vw);
    background-color: white;
    border: solid 1px black;
    border-radius: 4vw 4vw 0 10vw;
}

.custatement {
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1vw;
    margin-top: 25%;
    margin-left: 10%;
    background-color: white;
}


#l2 {
    object-fit: cover;
}